<!DOCTYPE html>
<html>

<head>
  <meta charset="utf-8">
  <title>Spotify Stats</title>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
    crossorigin="anonymous"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49"
    crossorigin="anonymous"></script>
  <link rel="stylesheet" href="https://bootswatch.com/4/superhero/bootstrap.min.css">
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js" integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy"
    crossorigin="anonymous"></script>
  <link href="https://fonts.googleapis.com/css?family=Ubuntu" rel="stylesheet">
  <link rel="stylesheet" href="../static/css/style.css">
  <link rel="stylesheet" href="../static/css/styles.css">
</head>

<body>
  <div class="container-fluid">
  <div class="wrapper">
    <nav class="navbar navbar-default">
      
        <div class="navbar-header">
          <a class="navbar-brand" href="/">
            <button type="button" class="btn btn-dark">Home</button>
          </a>
          <a class="navbar-brand" href="/features">
            <button type="button" class="btn btn-dark">Features</button>
          </a>
          <a class="navbar-brand" href="/analysis">
            <button type="button" class="btn btn-dark">Charts</button>
          </a>
          <a class="navbar-brand" href="/revenueYear">
            <button type="button" class="btn btn-dark">Revenue Year</button>
          </a>
          <a class="navbar-brand" href="/revenueQuarter">
            <button type="button" class="btn btn-dark">Revenue Quarter</button>
          </a>
        </div>
      
    </nav>
  </div>
  <div class="row text-center">
    <div class="col-12">
      <div class="jumbotron jumbotron-fluid">
    <h2>Spotify Revenue 2016-2019 by Quarter (in Million Euros)</h2>
    <p class="lead">  </p>
    </div>
    </div>
    
  </div>
  <div class="row text-center">
    <div class="col-1"></div>
    <div class="col-10">
      <p>The following chart illustrates the exponential growth of Spotify in the 13 quarters.<br>
      Source: Statista / IRAA: <a href="https://www.statista.com/topics/2075/spotify/">https://www.statista.com/topics/2075/spotify/</a></p>
      <div class = "w-100" id="viz2"></div>
    </div>
    <div class="col-1"></div>
    </div>
    
  </div>
    
</div>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/d3/5.5.0/d3.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/d3-tip/0.9.1/d3-tip.js"></script>
  <script src="../static/js/app2.js"></script>
</body>
</html>
